@model Pegasus.Entities.Project

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>
<form asp-action="Delete">
    <h3>Are you sure you want to delete @Model.Name?</h3><input type="submit" value="Confirm" class="btn btn-danger" />
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ProjectPrefix)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProjectPrefix)
            </dd>
        </dl>

        <div class="form-actions no-color">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</form>
