@using Microsoft.AspNetCore.Http.Extensions
@using Pegasus.Entities.Enumerations
@using Pegasus.Extensions
@using Pegasus.Library.Services.Http
@using Pegasus.Services
@inject ISettingsService _settingsService
@inject IHttpContextWrapper _httpContext

<div class="sidebar">
    <div class="settings-sidebar">
        @using (Html.BeginForm("SaveSettings", "Settings", FormMethod.Post))
        {
            var rq = _httpContext.Request;
            var currentUrl = UriHelper.BuildRelative(rq.PathBase, rq.Path, rq.QueryString);

            @Html.Hidden("returnUrl", currentUrl)

            <div class="card card-default">
                <div class="card-header settings-title-section">
                    <a href="javascript:void(0)" class="settings-close"><i class="fa fa-times"></i></a>
                    <h5 class="settings-title">Settings</h5>
                </div>
                <div class="card-body">
                    <div class="settings-section">
                        <div class="settings-section-title">PAGINATION SETTINGS</div>
                        <div class="settings-item">
                            <label class="settings-label settings-label-font" for="PaginationEnabled">@_settingsService.GetDisplayName(nameof(_settingsService.Settings.PaginationEnabled))</label>
                            <input id="PaginationEnabled" name="PaginationEnabled" class="settings-checkbox" type="checkbox" value="true" @(_settingsService.Settings.PaginationEnabled ? "checked=\"checked\"" : "") />
                            <input type="hidden" value="false" name="PaginationEnabled" />
                        </div>
                        <div class="settings-item">
                            <label class="settings-label settings-label-font" for="PageSize">@_settingsService.GetDisplayName(nameof(_settingsService.Settings.PageSize))</label>
                            <input class="settings-input-text" type="text" id="PageSize" name="PageSize" value="@_settingsService.Settings.PageSize">
                        </div>
                    </div>

                    <!-- Placeholder Setting-->
                    <div class="settings-section">
                        <div class="settings-section-title">PAGE SETTINGS</div>
                        <div class="settings-item">
                            <label class="settings-label settings-label-font" for="CommentSortOrder">@_settingsService.GetDisplayName(nameof(_settingsService.Settings.CommentSortOrder))</label>
                            <select asp-for="@_settingsService.Settings.CommentSortOrder" id="CommentSortOrder" name="CommentSortOrder" asp-items="@Html.GetEnumSelectList<CommentSortOrderEnum>()">
                            </select>
                        </div>
                        <div class="settings-item">
                            <label class="settings-label settings-label-font" for="SettingsModel_FullWidth">Full Width</label>
                            <input type="checkbox" id="SettingsModel_FullWidth" class="settings-checkbox" name="SettingsModel.FullWidthn" value="true">
                        </div>
                        <div class="settings-item">
                            <label class="settings-label settings-label-font" for="SettingsModel_SideBarRight">Sidebar Right</label>
                            <input type="checkbox" id="SettingsModel_SideBarRight" class="settings-checkbox" name="SettingsModel.SideBarRight" value="true">
                        </div>
                    </div>

                    <div class="settings-submit-button">
                        <input type="submit" name="SaveSettings" value="Apply" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
