@using Pegasus.Extensions
@model Pegasus.Models.Home.IndexViewModel

<div id="projectTaskList" class="card no-border">
    <div class="card-header no-background no-border">
        <h5>Project: @Model.Project.Name</h5>
    </div>
    <div class="card-body">
        <div class="table-font-sm">
            <div class="table-responsive">

                <table class="table table-striped table-hover table-narrow-lined">
                    <tbody>
                        @foreach (var task in Model.ProjectTasks)
            {
                            <tr>
                                <td>
                                    <div class="table-row-condensed">
                                        <span class="@task.TaskProfile.TaskRefStyle">
                                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@task.Id">@task.TaskRef</a>
                                        </span>
                                    </div>
                                </td>
                                <td class="fa-fw">
                                    @if (!string.IsNullOrWhiteSpace(task.PriorityIconClass))
                                    {
                                        <span><i class="fa fa-bolt @task.PriorityIconClass"></i></span>
                                    }
                                </td>
                                <td>
                                    <div class="table-row-condensed">
                                        <span class="@task.TaskProfile.TaskTextStyle">
                                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@task.Id">@Html.Raw(task.TaskProfile.TaskIcon)@task.Name</a>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="table-row-condensed">
                                        <div class="@task.TaskProfile.TaskTimeStyle">
                                            <span>
                                                @task.Modified.ToTaskDate()
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>