@using Pegasus.Extensions
@model Pegasus.Models.TaskList.TaskViewModel

<div id="editTaskContent" class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProjectTask.ProjectId" />
    <input type="hidden" asp-for="ProjectTask.Id" />
    <input type="hidden" asp-for="ProjectTask.Created" />
    <input type="hidden" asp-for="ExistingTaskStatus" value="@Model.ExistingTaskStatus" />
    <input type="hidden" asp-for="ProjectTask.ParentTaskId"/>
    <input type="hidden" id="addSubTask" name="addSubTask" value=""/>
    <div class="col-sm-9">
        <div class="banner-message">
            <span>@Model.BannerMessage</span>
        </div>
        @if (Model.ParentTask != null)
        {
            
            <div class="form-group form-inline">
                <div class="col-md-2 col-form-label">Parent Task:</div>
                <div class="col-md-8">
                    <a asp-controller="TaskList" asp-action="Edit" asp-route-id="@Model.ParentTask.Id">@Model.ParentTask.TaskRef - @Model.ParentTask.Name</a>
                </div>
            </div>
        }
        
        <div class="form-group form-inline">
            <label asp-for="ProjectTask.TaskRef" class="col-md-1 col-form-label"></label>
            <div class="col-md-2">
                <input asp-for="ProjectTask.TaskRef" class="form-control" readonly />
                <span asp-validation-for="ProjectTask.TaskRef" class="text-danger"></span>
            </div>
            <div class="col-md-9">
                <textarea rows="1" asp-for="ProjectTask.Name" class="form-control form-no-max-control task-title" ></textarea>
                <span asp-validation-for="ProjectTask.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group task-description-section">
            <input id="rollbackDescription" type="hidden" value="@Model.ProjectTask?.Description"/>
            <label asp-for="ProjectTask.Description" class="col-md-2 col-form-label"></label>
            <span class="comment-edit-buttons btn-group-xs">
                <a class="btn btn-xs task-description-edit-button"><i class="fa fa-pencil" data-toggle="tooltip" title="Edit description"></i></a>
                <a class="btn btn-xs task-description-cancel-button hide"><i class="fa fa-times" data-toggle="tooltip" title="Cancel edit"></i></a>
            </span>
            <div class="col-md-12">
                <div class="task-description">
                    @if (Model.ProjectTask?.Description != null)
                    {
                        <p>@Html.Raw(Model.ProjectTask.Description.PreparedHtml())</p>
                    }
                </div>
                <div class="task-description-edit hide">
                    <textarea rows="5" asp-for="ProjectTask.Description" class="task-description-text form-control form-no-max-control"></textarea>
                    <span asp-validation-for="ProjectTask.Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        
        <partial name="_CommentList" model="Model.Comments"/>

        <div class="form-group">
            <label asp-for="@Model.NewComment" class="col-md-4 col-form-label"></label>
            <div class="col-md-8">
                <textarea rows="3" asp-for="@Model.NewComment" class="form-control form-no-max-control"></textarea>
                <span asp-validation-for="@Model.NewComment" class="text-danger"></span>
            </div>
        </div>
        
        @if(Model.SubTasks.Any())
        {
            <div class="form-group">
                <label class="col-md-2 col-form-label">Sub Tasks</label>
                <div style="margin-left: 30px">
                <partial name="_TaskList" model="Model.SubTasks" />
                </div>
            </div>
        }
        
        <div class="form-group">
            <div class="col-md-10">
                <input id="editTaskButton" type="submit" value="Update" class="btn btn-primary"/>
                @if (!Model.ProjectTask.IsClosed())
                {
                    <input id="addSubTaskButton" type="submit" value="Add Sub Task" class="btn btn-primary"/>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label class="col-md-8 col-form-label">Project</label>
            <div class="col-md-8">
                <input asp-for="Project.Name" class="form-control" readonly/>
            </div>
        </div>
        <partial name="_TaskProperties" model="Model.TaskProperties"/>
    </div>
</div>
