@model IList<Pegasus.Entities.TaskComment>

<div id="taskCommentList" class="form-group">
    @for (var i = 0; i < Model.Count; i++)
    {
        <div class="edit-comment-section col-md-8 col-md-offset-2">
            <input type="hidden" asp-for="@Model[i].Id" />
            <input type="hidden" asp-for="@Model[i].TaskId" />
            <input type="hidden" asp-for="@Model[i].Created"/>
            <div class="comment-edit-buttons pull-right btn-group-xs">
                <a class="btn btn-xs comment-edit-button"><i class="fa fa-pencil" data-toggle="tooltip" title="Edit comment"></i></a>
                <a class="btn btn-xs comment-cancel-button hide"><i class="fa fa-times" data-toggle="tooltip" title="Cancel edit"></i></a>
                <input type="hidden" asp-for="@Model[i].IsDeleted"/>
                <a class="btn btn-xs comment-delete-button"><i class="fa fa-trash" data-toggle="tooltip" title="Delete comment"></i></a>
            </div>
            <div class="task-comment-date">
                <span>@Model[i].Created.ToString("dd MMM yy, HH:mm")</span>
            </div>
            <div class="task-comment">
                <p>@Html.Raw(Model[i].Comment.Replace(Environment.NewLine, "<br/>"))</p>
            </div>
            <div class="task-comment-edit hide">
                <textarea data-autoresize rows="1" asp-for="@Model[i].Comment" class="task-comment-text form-control form-no-max-control"></textarea>
                <span asp-validation-for="@Model[i].Comment" class="text-danger"></span>
            </div>
        </div>
    }
</div>