@using Pegasus.Extensions
@model Pegasus.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <div class="section">
            <h4>Projects</h4>
            <ul>
                @foreach (var project in Model.Projects)
                {
                    <li>@project.Name</li>
                }
                <li>Pegasus</li>
                <li>Hereford Securities Ltd</li>
                <li>Project 3</li>
            </ul>
        </div>
        <div class="section">
            <h4>Saved Searches</h4>
            <ul>
                <li>Pegasus</li>
                <li>Hereford Securities Ltd</li>
                <li>Project 3</li>
            </ul>
        </div>
        <div class="section">
            <h4>Filters</h4>
            <ul>
                <li>Pegasus</li>
                <li>Hereford Securities Ltd</li>
                <li>Project 3</li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="section table-font-sm">
        <div class="table-responsive">

            <table class="table table-striped table-condensed table-hover">

                <tbody>
                @foreach (var task in Model.ProjectTasks)
                {
                    <tr>
                        <td>
                            <div class="table-row-condensed">
                                @Html.ActionLink(task.TaskRef, "Details", "Home", new { id = @task.Id })
                            </div>
                        </td>

                        <td>
                            <div class="table-row-condensed">
                                @Html.ActionLink(@task.Name, "Details", "Home", new {id = @task.Id})
                            </div>
                        </td>
                        <td>
                            <div class="table-row-condensed">
                                @task.Modified.ToTaskDate()
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        <div class="table-row-condensed">
                            PGS-1
                        </div>
                    </td>

                    <td>
                        <div class="table-row-condensed">
                            Add initial project framework
                        </div>
                    </td>

                    <td>
                        <div class="table-row-condensed">
                            17:12
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="table-row-condensed">
                            PGS-2
                        </div>
                    </td>
                    <td>
                        <div class="table-row-condensed">
                            Style task table
                        </div>
                    </td>

                    <td>
                        <div class="table-row-condensed">
                            Aug 7
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    </div>
</div>
